{% extends "default.twig" %}

{% set bodyClass = 'home' %}

{% block content %}

<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Tower 4Clouds</h2>
                <h3 class="section-subheading text-muted">
                    Monitoring your clouds.
                </h3>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block javascripts %}
{{ parent() }}

{% endblock %}